OPENAI_API_KEY=open_api_key

# For local use: http://localhost:6333
# For Cloud: https://xxxxxx.aws.cloud.qdrant.io
QDRANT_URL=
QDRANT_API_KEY=

TELEGRAM_BOT_TOKEN=

# Format: postgresql://postgres:[PASSWORD]@db.ngibjfacekhkmclljwtn.supabase.co:5432/postgres
# Use Port 6543 if you're using the connection pooler to bypass firewall issues.
DATABASE_URL=your_database_url

GOOGLE_SHEET_ID=sheet_id_for_user_list_access